
.Rproj.user/48AF8A44/pcs/files-pane.pper
.Rproj.user/48AF8A44/pcs/source-pane.pper
.Rproj.user/48AF8A44/pcs/windowlayoutstate.pper
.Rproj.user/48AF8A44/pcs/workbench-pane.pper
.Rproj.user/48AF8A44/persistent-state
.Rproj.user/48AF8A44/rmd-outputs
.Rproj.user/48AF8A44/saved_source_markers
.Rproj.user/48AF8A44/sources/per/t/1FC07016
.Rproj.user/48AF8A44/sources/per/t/1FC07016-contents
.Rproj.user/48AF8A44/sources/per/t/216730AE
.Rproj.user/48AF8A44/sources/per/t/216730AE-contents
.Rproj.user/48AF8A44/sources/per/t/2484ECCF
.Rproj.user/48AF8A44/sources/per/t/2484ECCF-contents
.Rproj.user/48AF8A44/sources/per/t/31F67FF8
.Rproj.user/48AF8A44/sources/per/t/31F67FF8-contents
.Rproj.user/48AF8A44/sources/per/t/48E7ACA2
.Rproj.user/48AF8A44/sources/per/t/48E7ACA2-contents
.Rproj.user/48AF8A44/sources/per/t/4A097C63
.Rproj.user/48AF8A44/sources/per/t/4A097C63-contents
.Rproj.user/48AF8A44/sources/per/t/4E3EEFC1
.Rproj.user/48AF8A44/sources/per/t/4E3EEFC1-contents
.Rproj.user/48AF8A44/sources/per/t/5083E041
.Rproj.user/48AF8A44/sources/per/t/5083E041-contents
.Rproj.user/48AF8A44/sources/per/t/530D70EB
.Rproj.user/48AF8A44/sources/per/t/530D70EB-contents
.Rproj.user/48AF8A44/sources/per/t/59B89A58
.Rproj.user/48AF8A44/sources/per/t/59B89A58-contents
.Rproj.user/48AF8A44/sources/per/t/5A1E0990
.Rproj.user/48AF8A44/sources/per/t/5A1E0990-contents
.Rproj.user/48AF8A44/sources/per/t/5B087B1D
.Rproj.user/48AF8A44/sources/per/t/5B087B1D-contents
.Rproj.user/48AF8A44/sources/per/t/610FE1F3
.Rproj.user/48AF8A44/sources/per/t/610FE1F3-contents
.Rproj.user/48AF8A44/sources/per/t/64306A6C
.Rproj.user/48AF8A44/sources/per/t/64306A6C-contents
.Rproj.user/48AF8A44/sources/per/t/6610F2BC
.Rproj.user/48AF8A44/sources/per/t/6610F2BC-contents
.Rproj.user/48AF8A44/sources/per/t/72042FDC
.Rproj.user/48AF8A44/sources/per/t/72042FDC-contents
.Rproj.user/48AF8A44/sources/per/t/8BDB0AE5
.Rproj.user/48AF8A44/sources/per/t/8BDB0AE5-contents
.Rproj.user/48AF8A44/sources/per/t/8D0B4498
.Rproj.user/48AF8A44/sources/per/t/8D0B4498-contents
.Rproj.user/48AF8A44/sources/per/t/A330ADAB
.Rproj.user/48AF8A44/sources/per/t/A330ADAB-contents
.Rproj.user/48AF8A44/sources/per/t/BCDBD688
.Rproj.user/48AF8A44/sources/per/t/BCDBD688-contents
.Rproj.user/48AF8A44/sources/per/t/C508AEE6
.Rproj.user/48AF8A44/sources/per/t/C508AEE6-contents
.Rproj.user/48AF8A44/sources/per/t/C82B41A3
.Rproj.user/48AF8A44/sources/per/t/C82B41A3-contents
.Rproj.user/48AF8A44/sources/per/t/CEFE2996
.Rproj.user/48AF8A44/sources/per/t/CEFE2996-contents
.Rproj.user/48AF8A44/sources/per/t/DD923422
.Rproj.user/48AF8A44/sources/per/t/DD923422-contents
.Rproj.user/48AF8A44/sources/per/t/F084AF4B
.Rproj.user/48AF8A44/sources/per/t/F084AF4B-contents
.Rproj.user/48AF8A44/sources/prop/0DD57098
.Rproj.user/48AF8A44/sources/prop/3A4B0662
.Rproj.user/48AF8A44/sources/prop/7E23F313
.Rproj.user/48AF8A44/sources/prop/894AAC93
.Rproj.user/48AF8A44/sources/prop/9C3D118A
.Rproj.user/48AF8A44/sources/prop/C8709A7C
.Rproj.user/48AF8A44/sources/prop/CA325626
.Rproj.user/48AF8A44/sources/prop/E007D4AC
.Rproj.user/48AF8A44/sources/prop/E81CDCB1
.Rproj.user/48AF8A44/sources/prop/INDEX
.Rproj.user/48AF8A44/viewer-cache/21F7991E.Rdata
.Rproj.user/48AF8A44/viewer-cache/2F81ABEA.Rdata
.Rproj.user/48AF8A44/viewer-cache/38F535AB.Rdata
.Rproj.user/48AF8A44/viewer-cache/61780B89.Rdata
.Rproj.user/48AF8A44/viewer-cache/642D6C11.Rdata
.Rproj.user/48AF8A44/viewer-cache/649341F2.Rdata
.Rproj.user/48AF8A44/viewer-cache/7CF929B0.Rdata
.Rproj.user/48AF8A44/viewer-cache/7DA61D34.Rdata
.Rproj.user/48AF8A44/viewer-cache/8F46ABA7.Rdata
.Rproj.user/48AF8A44/viewer-cache/8F50D8B0.Rdata
.Rproj.user/48AF8A44/viewer-cache/A81B639E.Rdata
.Rproj.user/48AF8A44/viewer-cache/CB5208E4.Rdata
.Rproj.user/48AF8A44/viewer-cache/D8AD8CCC.Rdata
.Rproj.user/48AF8A44/viewer-cache/F2397E84.Rdata
.Rproj.user/48AF8A44/viewer-cache/F8278D42.Rdata
.Rproj.user/BA240E85/pcs/files-pane.pper
.Rproj.user/BA240E85/pcs/source-pane.pper
.Rproj.user/BA240E85/pcs/windowlayoutstate.pper
.Rproj.user/BA240E85/pcs/workbench-pane.pper
.Rproj.user/BA240E85/persistent-state
.Rproj.user/BA240E85/rmd-outputs
.Rproj.user/BA240E85/saved_source_markers
.Rproj.user/BA240E85/sources/per/t/12440FB9
.Rproj.user/BA240E85/sources/per/t/12440FB9-contents
.Rproj.user/BA240E85/sources/per/t/131670F9
.Rproj.user/BA240E85/sources/per/t/131670F9-contents
.Rproj.user/BA240E85/sources/per/t/19083FE
.Rproj.user/BA240E85/sources/per/t/19083FE-contents
.Rproj.user/BA240E85/sources/per/t/1F7084C0
.Rproj.user/BA240E85/sources/per/t/1F7084C0-contents
.Rproj.user/BA240E85/sources/per/t/2B95F6B6
.Rproj.user/BA240E85/sources/per/t/2B95F6B6-contents
.Rproj.user/BA240E85/sources/per/t/3D8563B1
.Rproj.user/BA240E85/sources/per/t/3D8563B1-contents
.Rproj.user/BA240E85/sources/per/t/437E7BD8
.Rproj.user/BA240E85/sources/per/t/437E7BD8-contents
.Rproj.user/BA240E85/sources/per/t/4AA7147E
.Rproj.user/BA240E85/sources/per/t/4AA7147E-contents
.Rproj.user/BA240E85/sources/per/t/4B07E8B0
.Rproj.user/BA240E85/sources/per/t/4B07E8B0-contents
.Rproj.user/BA240E85/sources/per/t/519138E
.Rproj.user/BA240E85/sources/per/t/519138E-contents
.Rproj.user/BA240E85/sources/per/t/69B3AFDD
.Rproj.user/BA240E85/sources/per/t/69B3AFDD-contents
.Rproj.user/BA240E85/sources/per/t/73442398
.Rproj.user/BA240E85/sources/per/t/73442398-contents
.Rproj.user/BA240E85/sources/per/t/8B7E3D8E
.Rproj.user/BA240E85/sources/per/t/8B7E3D8E-contents
.Rproj.user/BA240E85/sources/per/t/8D38AF54
.Rproj.user/BA240E85/sources/per/t/8D38AF54-contents
.Rproj.user/BA240E85/sources/per/t/96EFB80A
.Rproj.user/BA240E85/sources/per/t/96EFB80A-contents
.Rproj.user/BA240E85/sources/per/t/A505B866
.Rproj.user/BA240E85/sources/per/t/A505B866-contents
.Rproj.user/BA240E85/sources/per/t/A8A17B0D
.Rproj.user/BA240E85/sources/per/t/A8A17B0D-contents
.Rproj.user/BA240E85/sources/per/t/B04B5CBE
.Rproj.user/BA240E85/sources/per/t/B04B5CBE-contents
.Rproj.user/BA240E85/sources/per/t/BF64113A
.Rproj.user/BA240E85/sources/per/t/BF64113A-contents
.Rproj.user/BA240E85/sources/per/t/CC8439D8
.Rproj.user/BA240E85/sources/per/t/CC8439D8-contents
.Rproj.user/BA240E85/sources/per/t/D2177322
.Rproj.user/BA240E85/sources/per/t/D2177322-contents
.Rproj.user/BA240E85/sources/per/t/E2E3DCEF
.Rproj.user/BA240E85/sources/per/t/E2E3DCEF-contents
.Rproj.user/BA240E85/sources/per/t/F137A353
.Rproj.user/BA240E85/sources/per/t/F137A353-contents
.Rproj.user/BA240E85/sources/per/t/F2C60CA9
.Rproj.user/BA240E85/sources/per/t/F2C60CA9-contents
.Rproj.user/BA240E85/sources/per/t/FAD87FDA
.Rproj.user/BA240E85/sources/per/t/FAD87FDA-contents
.Rproj.user/BA240E85/sources/prop/2370D2B3
.Rproj.user/BA240E85/sources/prop/2F31B608
.Rproj.user/BA240E85/sources/prop/461B655C
.Rproj.user/BA240E85/sources/prop/4A45F3B
.Rproj.user/BA240E85/sources/prop/58344DB0
.Rproj.user/BA240E85/sources/prop/5DEADD35
.Rproj.user/BA240E85/sources/prop/6975F2CE
.Rproj.user/BA240E85/sources/prop/74891FBE
.Rproj.user/BA240E85/sources/prop/88F9745E
.Rproj.user/BA240E85/sources/prop/AE99E601
.Rproj.user/BA240E85/sources/prop/EA62BD2E
.Rproj.user/BA240E85/sources/prop/F3D0510
.Rproj.user/BA240E85/sources/prop/FE33CB61
.Rproj.user/BA240E85/sources/prop/INDEX
.Rproj.user/BA240E85/viewer-cache/112CD0C9.Rdata
.Rproj.user/BA240E85/viewer-cache/13699CAF.Rdata
.Rproj.user/BA240E85/viewer-cache/2288330C.Rdata
.Rproj.user/BA240E85/viewer-cache/27BB4B35.Rdata
.Rproj.user/BA240E85/viewer-cache/54BC9CBD.Rdata
.Rproj.user/BA240E85/viewer-cache/569063F1.Rdata
.Rproj.user/BA240E85/viewer-cache/74B2580F.Rdata
.Rproj.user/BA240E85/viewer-cache/784359EC.Rdata
.Rproj.user/BA240E85/viewer-cache/7CAD4A24.Rdata
.Rproj.user/BA240E85/viewer-cache/84A68BF8.Rdata
.Rproj.user/BA240E85/viewer-cache/AEEBE86C.Rdata
.Rproj.user/BA240E85/viewer-cache/E6D5CACA.Rdata
.Rproj.user/BA240E85/viewer-cache/E77D3CCA.Rdata
.Rproj.user/BA240E85/viewer-cache/E863A403.Rdata
.Rproj.user/BA240E85/viewer-cache/F07D4E49.Rdata
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
*.xlsx
data/BASIC_HABITATION_INFORMATION_AS_ON_1_APR_12.csv
data/BASIC_HABITATION_INFORMATION_AS_ON_1_APR_10.csv
data/BASIC_HABITATION_INFORMATION_AS_ON_1_APR_09.csv
data/BASI_HABITATION_INFORMATION_AS_ON_1_APR_11.csv
data/data/replication-code-packet/table_summary.do
data/data/replication-code-packet/table_rd_balance.do
data/data/replication-code-packet/table_rd.do
data/data/replication-code-packet/table_pmgsy_panel.do
data/data/replication-code-packet/table_exams.do
data/data/replication-code-packet/replication.do
data/data/replication-code-packet/prep_dise_pmgsy.do
data/data/replication-code-packet/prep_dise.do
data/data/replication-code-packet/permutation_test.do
data/data/replication-code-packet/panel_graph.do
data/data/replication-code-packet/make_dise.do
data/data/replication-code-packet/include_pub.do
data/data/replication-code-packet/dise_progs.do
data/data/replication-code-packet/dise_graphs.do
data/data/replication-code-packet/create_dise_short.do
data/data/replication-code-packet/convert_dise.do
data/data/replication-code-packet/combine_old_new_dise.do
data/data/replication-code-packet/clean_dise.do
data/data/replication-code-packet/appendix_tables.do
*.html
*.xls
