
.Rproj.user/48AF8A44/pcs/files-pane.pper
.Rproj.user/48AF8A44/pcs/source-pane.pper
.Rproj.user/48AF8A44/pcs/windowlayoutstate.pper
.Rproj.user/48AF8A44/pcs/workbench-pane.pper
.Rproj.user/48AF8A44/persistent-state
.Rproj.user/48AF8A44/rmd-outputs
.Rproj.user/48AF8A44/saved_source_markers
.Rproj.user/48AF8A44/sources/per/t/1FC07016
.Rproj.user/48AF8A44/sources/per/t/1FC07016-contents
.Rproj.user/48AF8A44/sources/per/t/216730AE
.Rproj.user/48AF8A44/sources/per/t/216730AE-contents
.Rproj.user/48AF8A44/sources/per/t/2484ECCF
.Rproj.user/48AF8A44/sources/per/t/2484ECCF-contents
.Rproj.user/48AF8A44/sources/per/t/31F67FF8
.Rproj.user/48AF8A44/sources/per/t/31F67FF8-contents
.Rproj.user/48AF8A44/sources/per/t/48E7ACA2
.Rproj.user/48AF8A44/sources/per/t/48E7ACA2-contents
.Rproj.user/48AF8A44/sources/per/t/4A097C63
.Rproj.user/48AF8A44/sources/per/t/4A097C63-contents
.Rproj.user/48AF8A44/sources/per/t/4E3EEFC1
.Rproj.user/48AF8A44/sources/per/t/4E3EEFC1-contents
.Rproj.user/48AF8A44/sources/per/t/5083E041
.Rproj.user/48AF8A44/sources/per/t/5083E041-contents
.Rproj.user/48AF8A44/sources/per/t/530D70EB
.Rproj.user/48AF8A44/sources/per/t/530D70EB-contents
.Rproj.user/48AF8A44/sources/per/t/59B89A58
.Rproj.user/48AF8A44/sources/per/t/59B89A58-contents
.Rproj.user/48AF8A44/sources/per/t/5A1E0990
.Rproj.user/48AF8A44/sources/per/t/5A1E0990-contents
.Rproj.user/48AF8A44/sources/per/t/5B087B1D
.Rproj.user/48AF8A44/sources/per/t/5B087B1D-contents
.Rproj.user/48AF8A44/sources/per/t/610FE1F3
.Rproj.user/48AF8A44/sources/per/t/610FE1F3-contents
.Rproj.user/48AF8A44/sources/per/t/64306A6C
.Rproj.user/48AF8A44/sources/per/t/64306A6C-contents
.Rproj.user/48AF8A44/sources/per/t/6610F2BC
.Rproj.user/48AF8A44/sources/per/t/6610F2BC-contents
.Rproj.user/48AF8A44/sources/per/t/72042FDC
.Rproj.user/48AF8A44/sources/per/t/72042FDC-contents
.Rproj.user/48AF8A44/sources/per/t/8BDB0AE5
.Rproj.user/48AF8A44/sources/per/t/8BDB0AE5-contents
.Rproj.user/48AF8A44/sources/per/t/8D0B4498
.Rproj.user/48AF8A44/sources/per/t/8D0B4498-contents
.Rproj.user/48AF8A44/sources/per/t/A330ADAB
.Rproj.user/48AF8A44/sources/per/t/A330ADAB-contents
.Rproj.user/48AF8A44/sources/per/t/BCDBD688
.Rproj.user/48AF8A44/sources/per/t/BCDBD688-contents
.Rproj.user/48AF8A44/sources/per/t/C508AEE6
.Rproj.user/48AF8A44/sources/per/t/C508AEE6-contents
.Rproj.user/48AF8A44/sources/per/t/C82B41A3
.Rproj.user/48AF8A44/sources/per/t/C82B41A3-contents
.Rproj.user/48AF8A44/sources/per/t/CEFE2996
.Rproj.user/48AF8A44/sources/per/t/CEFE2996-contents
.Rproj.user/48AF8A44/sources/per/t/DD923422
.Rproj.user/48AF8A44/sources/per/t/DD923422-contents
.Rproj.user/48AF8A44/sources/per/t/F084AF4B
.Rproj.user/48AF8A44/sources/per/t/F084AF4B-contents
.Rproj.user/48AF8A44/sources/prop/0DD57098
.Rproj.user/48AF8A44/sources/prop/3A4B0662
.Rproj.user/48AF8A44/sources/prop/7E23F313
.Rproj.user/48AF8A44/sources/prop/894AAC93
.Rproj.user/48AF8A44/sources/prop/9C3D118A
.Rproj.user/48AF8A44/sources/prop/C8709A7C
.Rproj.user/48AF8A44/sources/prop/CA325626
.Rproj.user/48AF8A44/sources/prop/E007D4AC
.Rproj.user/48AF8A44/sources/prop/E81CDCB1
.Rproj.user/48AF8A44/sources/prop/INDEX
.Rproj.user/48AF8A44/viewer-cache/21F7991E.Rdata
.Rproj.user/48AF8A44/viewer-cache/2F81ABEA.Rdata
.Rproj.user/48AF8A44/viewer-cache/38F535AB.Rdata
.Rproj.user/48AF8A44/viewer-cache/61780B89.Rdata
.Rproj.user/48AF8A44/viewer-cache/642D6C11.Rdata
.Rproj.user/48AF8A44/viewer-cache/649341F2.Rdata
.Rproj.user/48AF8A44/viewer-cache/7CF929B0.Rdata
.Rproj.user/48AF8A44/viewer-cache/7DA61D34.Rdata
.Rproj.user/48AF8A44/viewer-cache/8F46ABA7.Rdata
.Rproj.user/48AF8A44/viewer-cache/8F50D8B0.Rdata
.Rproj.user/48AF8A44/viewer-cache/A81B639E.Rdata
.Rproj.user/48AF8A44/viewer-cache/CB5208E4.Rdata
.Rproj.user/48AF8A44/viewer-cache/D8AD8CCC.Rdata
.Rproj.user/48AF8A44/viewer-cache/F2397E84.Rdata
.Rproj.user/48AF8A44/viewer-cache/F8278D42.Rdata
.Rproj.user/BA240E85/pcs/files-pane.pper
.Rproj.user/BA240E85/pcs/source-pane.pper
.Rproj.user/BA240E85/pcs/windowlayoutstate.pper
.Rproj.user/BA240E85/pcs/workbench-pane.pper
.Rproj.user/BA240E85/persistent-state
.Rproj.user/BA240E85/rmd-outputs
.Rproj.user/BA240E85/saved_source_markers
.Rproj.user/BA240E85/sources/per/t/12440FB9
.Rproj.user/BA240E85/sources/per/t/12440FB9-contents
.Rproj.user/BA240E85/sources/per/t/131670F9
.Rproj.user/BA240E85/sources/per/t/131670F9-contents
.Rproj.user/BA240E85/sources/per/t/19083FE
.Rproj.user/BA240E85/sources/per/t/19083FE-contents
.Rproj.user/BA240E85/sources/per/t/1F7084C0
.Rproj.user/BA240E85/sources/per/t/1F7084C0-contents
.Rproj.user/BA240E85/sources/per/t/2B95F6B6
.Rproj.user/BA240E85/sources/per/t/2B95F6B6-contents
.Rproj.user/BA240E85/sources/per/t/3D8563B1
.Rproj.user/BA240E85/sources/per/t/3D8563B1-contents
.Rproj.user/BA240E85/sources/per/t/437E7BD8
.Rproj.user/BA240E85/sources/per/t/437E7BD8-contents
.Rproj.user/BA240E85/sources/per/t/4AA7147E
.Rproj.user/BA240E85/sources/per/t/4AA7147E-contents
.Rproj.user/BA240E85/sources/per/t/4B07E8B0
.Rproj.user/BA240E85/sources/per/t/4B07E8B0-contents
.Rproj.user/BA240E85/sources/per/t/519138E
.Rproj.user/BA240E85/sources/per/t/519138E-contents
.Rproj.user/BA240E85/sources/per/t/69B3AFDD
.Rproj.user/BA240E85/sources/per/t/69B3AFDD-contents
.Rproj.user/BA240E85/sources/per/t/73442398
.Rproj.user/BA240E85/sources/per/t/73442398-contents
.Rproj.user/BA240E85/sources/per/t/8B7E3D8E
.Rproj.user/BA240E85/sources/per/t/8B7E3D8E-contents
.Rproj.user/BA240E85/sources/per/t/8D38AF54
.Rproj.user/BA240E85/sources/per/t/8D38AF54-contents
.Rproj.user/BA240E85/sources/per/t/96EFB80A
.Rproj.user/BA240E85/sources/per/t/96EFB80A-contents
.Rproj.user/BA240E85/sources/per/t/A505B866
.Rproj.user/BA240E85/sources/per/t/A505B866-contents
.Rproj.user/BA240E85/sources/per/t/A8A17B0D
.Rproj.user/BA240E85/sources/per/t/A8A17B0D-contents
.Rproj.user/BA240E85/sources/per/t/B04B5CBE
.Rproj.user/BA240E85/sources/per/t/B04B5CBE-contents
.Rproj.user/BA240E85/sources/per/t/BF64113A
.Rproj.user/BA240E85/sources/per/t/BF64113A-contents
.Rproj.user/BA240E85/sources/per/t/CC8439D8
.Rproj.user/BA240E85/sources/per/t/CC8439D8-contents
.Rproj.user/BA240E85/sources/per/t/D2177322
.Rproj.user/BA240E85/sources/per/t/D2177322-contents
.Rproj.user/BA240E85/sources/per/t/E2E3DCEF
.Rproj.user/BA240E85/sources/per/t/E2E3DCEF-contents
.Rproj.user/BA240E85/sources/per/t/F137A353
.Rproj.user/BA240E85/sources/per/t/F137A353-contents
.Rproj.user/BA240E85/sources/per/t/F2C60CA9
.Rproj.user/BA240E85/sources/per/t/F2C60CA9-contents
.Rproj.user/BA240E85/sources/per/t/FAD87FDA
.Rproj.user/BA240E85/sources/per/t/FAD87FDA-contents
.Rproj.user/BA240E85/sources/prop/2370D2B3
.Rproj.user/BA240E85/sources/prop/2F31B608
.Rproj.user/BA240E85/sources/prop/461B655C
.Rproj.user/BA240E85/sources/prop/4A45F3B
.Rproj.user/BA240E85/sources/prop/58344DB0
.Rproj.user/BA240E85/sources/prop/5DEADD35
.Rproj.user/BA240E85/sources/prop/6975F2CE
.Rproj.user/BA240E85/sources/prop/74891FBE
.Rproj.user/BA240E85/sources/prop/88F9745E
.Rproj.user/BA240E85/sources/prop/AE99E601
.Rproj.user/BA240E85/sources/prop/EA62BD2E
.Rproj.user/BA240E85/sources/prop/F3D0510
.Rproj.user/BA240E85/sources/prop/FE33CB61
.Rproj.user/BA240E85/sources/prop/INDEX
.Rproj.user/BA240E85/viewer-cache/112CD0C9.Rdata
.Rproj.user/BA240E85/viewer-cache/13699CAF.Rdata
.Rproj.user/BA240E85/viewer-cache/2288330C.Rdata
.Rproj.user/BA240E85/viewer-cache/27BB4B35.Rdata
.Rproj.user/BA240E85/viewer-cache/54BC9CBD.Rdata
.Rproj.user/BA240E85/viewer-cache/569063F1.Rdata
.Rproj.user/BA240E85/viewer-cache/74B2580F.Rdata
.Rproj.user/BA240E85/viewer-cache/784359EC.Rdata
.Rproj.user/BA240E85/viewer-cache/7CAD4A24.Rdata
.Rproj.user/BA240E85/viewer-cache/84A68BF8.Rdata
.Rproj.user/BA240E85/viewer-cache/AEEBE86C.Rdata
.Rproj.user/BA240E85/viewer-cache/E6D5CACA.Rdata
.Rproj.user/BA240E85/viewer-cache/E77D3CCA.Rdata
.Rproj.user/BA240E85/viewer-cache/E863A403.Rdata
.Rproj.user/BA240E85/viewer-cache/F07D4E49.Rdata
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
*.xlsx
data/BASIC_HABITATION_INFORMATION_AS_ON_1_APR_12.csv
data/BASIC_HABITATION_INFORMATION_AS_ON_1_APR_10.csv
data/BASIC_HABITATION_INFORMATION_AS_ON_1_APR_09.csv
data/BASI_HABITATION_INFORMATION_AS_ON_1_APR_11.csv
data/data/replication-code-packet/table_summary.do
data/data/replication-code-packet/table_rd_balance.do
data/data/replication-code-packet/table_rd.do
data/data/replication-code-packet/table_pmgsy_panel.do
data/data/replication-code-packet/table_exams.do
data/data/replication-code-packet/replication.do
data/data/replication-code-packet/prep_dise_pmgsy.do
data/data/replication-code-packet/prep_dise.do
data/data/replication-code-packet/permutation_test.do
data/data/replication-code-packet/panel_graph.do
data/data/replication-code-packet/make_dise.do
data/data/replication-code-packet/include_pub.do
data/data/replication-code-packet/dise_progs.do
data/data/replication-code-packet/dise_graphs.do
data/data/replication-code-packet/create_dise_short.do
data/data/replication-code-packet/convert_dise.do
data/data/replication-code-packet/combine_old_new_dise.do
data/data/replication-code-packet/clean_dise.do
data/data/replication-code-packet/appendix_tables.do
*.html
*.xls
rosm.cache/osm/8_196_110.png
rosm.cache/osm/8_196_109.png
rosm.cache/osm/8_196_108.png
rosm.cache/osm/8_196_107.png
rosm.cache/osm/8_196_106.png
rosm.cache/osm/8_195_110.png
rosm.cache/osm/8_195_109.png
rosm.cache/osm/8_195_108.png
rosm.cache/osm/8_195_107.png
rosm.cache/osm/8_195_106.png
rosm.cache/osm/8_194_110.png
rosm.cache/osm/8_194_109.png
rosm.cache/osm/8_194_108.png
rosm.cache/osm/8_194_107.png
rosm.cache/osm/8_194_106.png
rosm.cache/osm/8_193_110.png
rosm.cache/osm/8_193_109.png
rosm.cache/osm/8_193_108.png
rosm.cache/osm/8_193_107.png
rosm.cache/osm/8_193_106.png
rosm.cache/osm/8_192_112.png
rosm.cache/osm/8_192_111.png
rosm.cache/osm/8_192_110.png
rosm.cache/osm/8_192_109.png
rosm.cache/osm/8_192_108.png
rosm.cache/osm/8_192_107.png
rosm.cache/osm/8_192_106.png
rosm.cache/osm/8_191_112.png
rosm.cache/osm/8_191_111.png
rosm.cache/osm/8_191_110.png
rosm.cache/osm/8_191_109.png
rosm.cache/osm/8_191_108.png
rosm.cache/osm/8_191_107.png
rosm.cache/osm/8_191_106.png
rosm.cache/osm/8_190_112.png
rosm.cache/osm/8_190_111.png
rosm.cache/osm/8_190_110.png
rosm.cache/osm/8_190_109.png
rosm.cache/osm/8_190_108.png
rosm.cache/osm/8_190_107.png
rosm.cache/osm/8_189_112.png
rosm.cache/osm/8_189_111.png
rosm.cache/osm/8_189_110.png
rosm.cache/osm/8_189_109.png
rosm.cache/osm/8_189_108.png
rosm.cache/osm/8_189_107.png
rosm.cache/osm/8_188_112.png
rosm.cache/osm/8_188_111.png
rosm.cache/osm/8_188_110.png
rosm.cache/osm/8_188_109.png
rosm.cache/osm/8_188_108.png
rosm.cache/osm/8_188_107.png
rosm.cache/osm/8_187_115.png
rosm.cache/osm/8_187_114.png
rosm.cache/osm/8_186_115.png
rosm.cache/osm/8_186_114.png
rosm.cache/osm/7_95_55.png
rosm.cache/osm/7_95_54.png
rosm.cache/osm/7_94_55.png
rosm.cache/osm/7_94_54.png
rosm.cache/cartolight/7_95_55.png
rosm.cache/cartolight/7_95_54.png
*.rar
data/GSI/Mine_Quarry.dbf
data/GSI/Mine_Quarry.prj
data/GSI/Mine_Quarry.shp
data/GSI/Mine_Quarry.shx
data/GSI/Mineralization.dbf
data/GSI/Mineralization.prj
data/GSI/Mineralization.shp
data/GSI/Mineralization.shx
data/GSI/more_maps/Commodity_2M.dbf
data/GSI/more_maps/Commodity_2M.prj
data/GSI/more_maps/Commodity_2M.shp
data/GSI/more_maps/Commodity_2M.shx
data/GSI/more_maps/Deposit.dbf
data/GSI/more_maps/Deposit.prj
data/GSI/more_maps/Deposit.shp
data/GSI/more_maps/Deposit.shx
data/GSI/more_maps/Geology_2M.dbf
data/GSI/more_maps/Geology_2M.prj
data/GSI/more_maps/Geology_2M.shp
data/GSI/more_maps/Geology_2M.shx
data/GSI/more_maps/Geomorphology 250K.dbf
data/GSI/more_maps/Geomorphology 250K.prj
data/GSI/more_maps/Geomorphology 250K.shp
data/GSI/more_maps/Geomorphology 250K.shx
data/GSI/more_maps/Lineament Form.dbf
data/GSI/more_maps/Lineament Form.prj
data/GSI/more_maps/Lineament Form.shp
data/GSI/more_maps/Lineament Form.shx
data/GSI/more_maps/Magnitude Of Lineament.dbf
data/GSI/more_maps/Magnitude Of Lineament.prj
data/GSI/more_maps/Magnitude Of Lineament.shp
data/GSI/more_maps/Magnitude Of Lineament.shx
data/GSI/more_maps/Sm_Nd.dbf
data/GSI/more_maps/Sm_Nd.prj
data/GSI/more_maps/Sm_Nd.shp
data/GSI/more_maps/Sm_Nd.shx
data/GSI/qgis_gsi_project.qgz
data/GSI/Smart-Map/0_Dados.csv
data/GSI/Soil Regolith.dbf
data/GSI/Soil Regolith.prj
data/GSI/Soil Regolith.shp
data/GSI/Soil Regolith.shx
data/GSI/Stream Sediment.dbf
data/GSI/Stream Sediment.prj
data/GSI/Stream Sediment.qix
data/GSI/Stream Sediment.shp
data/GSI/Stream Sediment.shx
data/GSI/west_bengal/Citation_Policy_Of_GSI.pdf
data/GSI/west_bengal/Geomorphology Landform.dbf
data/GSI/west_bengal/Geomorphology Landform.prj
data/GSI/west_bengal/Geomorphology Landform.shp
data/GSI/west_bengal/Geomorphology Landform.shx
data/GSI/west_bengal/Lithology.dbf
data/GSI/west_bengal/Lithology.prj
data/GSI/west_bengal/Lithology.shp
data/GSI/west_bengal/Lithology.shx
data/GSI/west_bengal/Mineralization.dbf
data/GSI/west_bengal/Mineralization.prj
data/GSI/west_bengal/Mineralization.shp
data/GSI/west_bengal/Mineralization.shx
data/GSI/west_bengal/Soil C Horizon.dbf
data/GSI/west_bengal/Soil C Horizon.prj
data/GSI/west_bengal/Soil C Horizon.shp
data/GSI/west_bengal/Soil C Horizon.shx
data/GSI/west_bengal/Soil Regolith.dbf
data/GSI/west_bengal/Soil Regolith.prj
data/GSI/west_bengal/Soil Regolith.shp
data/GSI/west_bengal/Soil Regolith.shx
data/GSI/west_bengal/Stream Sediment.dbf
data/GSI/west_bengal/Stream Sediment.prj
data/GSI/west_bengal/Stream Sediment.shp
data/GSI/west_bengal/Stream Sediment.shx
data/HABITATIONS_COVERED_UNDER_PIPE_WATER_SCHEME_PWS_AS_ON_15_04_2013.csv
data/india-india-village-level-geospatial-socio-econ-1991-2001-ar-2001-gdb.zip
data/india-india-village-level-geospatial-socio-econ-1991-2001-ml-2001-gdb.zip
data/india-india-village-level-geospatial-socio-econ-1991-2001-nl-2001-gdb.zip
data/india_2001_census_map/all_india/all_india_block_level_map.dbf
data/india_2001_census_map/all_india/all_india_block_level_map.prj
data/india_2001_census_map/all_india/all_india_block_level_map.shp
data/india_2001_census_map/all_india/all_india_block_level_map.shx
data/india_2001_census_map/all_india/all_india_village_level_map.dbf
data/india_2001_census_map/all_india/all_india_village_level_map.prj
data/india_2001_census_map/all_india/all_india_village_level_map.shp
data/india_2001_census_map/all_india/all_india_village_level_map.shx
data/india_2001_census_map/all_india/all_india_village_level_map_head.dbf
data/india_2001_census_map/all_india/all_india_village_level_map_head.prj
data/india_2001_census_map/all_india/all_india_village_level_map_head.shp
data/india_2001_census_map/all_india/all_india_village_level_map_head.shx
data/india_2001_census_map/CopyOfindia-india-village-level-geospatial-socio-econ-1991-2001-hr-2001-shp.zip
data/india_2001_census_map/india-india-village-level-geospatial-socio-econ-1991-2001-ap-2001-shp.zip
data/india_2001_census_map/india-india-village-level-geospatial-socio-econ-1991-2001-as-2001-shp.zip
data/india_2001_census_map/india-india-village-level-geospatial-socio-econ-1991-2001-br-2001-shp.zip
data/india_2001_census_map/india-india-village-level-geospatial-socio-econ-1991-2001-cg-2001-shp.zip
data/india_2001_census_map/india-india-village-level-geospatial-socio-econ-1991-2001-ga-2001-shp.zip
data/india_2001_census_map/india-india-village-level-geospatial-socio-econ-1991-2001-gj-2001-shp.zip
data/india_2001_census_map/india-india-village-level-geospatial-socio-econ-1991-2001-hp-2001-shp.zip
data/india_2001_census_map/india-india-village-level-geospatial-socio-econ-1991-2001-hr-2001-shp.zip
data/india_2001_census_map/india-india-village-level-geospatial-socio-econ-1991-2001-jh-2001-shp.zip
data/india_2001_census_map/india-india-village-level-geospatial-socio-econ-1991-2001-jk-2001-shp.zip
data/india_2001_census_map/india-india-village-level-geospatial-socio-econ-1991-2001-kl-2001-shp.zip
data/india_2001_census_map/india-india-village-level-geospatial-socio-econ-1991-2001-mh-2001-shp.zip
data/india_2001_census_map/india-india-village-level-geospatial-socio-econ-1991-2001-mn-2001-shp.zip
data/india_2001_census_map/india-india-village-level-geospatial-socio-econ-1991-2001-mz-2001-shp.zip
data/india_2001_census_map/india-india-village-level-geospatial-socio-econ-1991-2001-or-2001-shp.zip
data/india_2001_census_map/india-india-village-level-geospatial-socio-econ-1991-2001-pb-2001-shp.zip
data/india_2001_census_map/india-india-village-level-geospatial-socio-econ-1991-2001-sk-2001-shp.zip
data/india_2001_census_map/india-india-village-level-geospatial-socio-econ-1991-2001-tn-2001-shp.zip
data/india_2001_census_map/india-india-village-level-geospatial-socio-econ-1991-2001-tr-2001-shp.zip
data/india_2001_census_map/india-india-village-level-geospatial-socio-econ-1991-2001-uk-2001-shp.zip
data/india_2001_census_map/india-india-village-level-geospatial-socio-econ-1991-2001-up-2001-shp.zip
data/india_2001_census_map/india-india-village-level-geospatial-socio-econ-1991-2001-uterr-2001-shp.zip
data/india_2001_census_map/india-india-village-level-geospatial-socio-econ-1991-2001-wb-2001-shp.zip
data/india_2001_census_map/india-village-census-2001-KA.zip
data/india_2001_census_map/india-village-census-2001-MP.zip
data/india_2001_census_map/india-village-census-2001-RJ.zip
data/List of House Connections provided/2014-2015/all_states.ods
data/List of House Connections provided/2014-2015/notes.txt
data/LIST_OF_SOURCES_AND_SCHEMES_IN_HABITATIONS_AS_ON_15_APR_13.csv
data/matching_village_codes/census_2001_codes_with_shrid.csv
data/Nss68_10_new format/autorun.inf
data/Nss68_10_new format/AutorunPro.exe
data/Nss68_10_new format/brandings/default/media/images/arrow.down.png
data/Nss68_10_new format/brandings/default/media/images/arrow.right.png
data/Nss68_10_new format/brandings/default/media/images/dot_bluegreen.gif
data/Nss68_10_new format/brandings/default/media/images/logo_2.gif
data/Nss68_10_new format/brandings/default/media/images/navigation/blank.png
data/Nss68_10_new format/brandings/default/media/images/navigation/file.png
data/Nss68_10_new format/brandings/default/media/images/navigation/foldericon.png
data/Nss68_10_new format/brandings/default/media/images/navigation/I.png
data/Nss68_10_new format/brandings/default/media/images/navigation/L.png
data/Nss68_10_new format/brandings/default/media/images/navigation/Lminus.png
data/Nss68_10_new format/brandings/default/media/images/navigation/Lplus.png
data/Nss68_10_new format/brandings/default/media/images/navigation/T.png
data/Nss68_10_new format/brandings/default/media/images/navigation/Thumbs.db
data/Nss68_10_new format/brandings/default/media/images/navigation/Tminus.png
data/Nss68_10_new format/brandings/default/media/images/navigation/Top.png
data/Nss68_10_new format/brandings/default/media/images/navigation/Top.wb.png
data/Nss68_10_new format/brandings/default/media/images/navigation/Tplus.png
data/Nss68_10_new format/brandings/default/media/images/nesstar48.gif
data/Nss68_10_new format/brandings/default/media/images/openfoldericon.png
data/Nss68_10_new format/brandings/default/media/images/Thumbs.db
data/Nss68_10_new format/brandings/default/media/images/toolkit_icon.gif
data/Nss68_10_new format/brandings/default/media/images/toolkit_icon60.gif
data/Nss68_10_new format/brandings/default/media/images/toolkit_icon60.v1.gif
data/Nss68_10_new format/brandings/default/media/js/AC_OETags.js
data/Nss68_10_new format/brandings/default/media/scripts/cssexpr.js
data/Nss68_10_new format/brandings/default/media/scripts/navigation.js
data/Nss68_10_new format/brandings/default/media/scripts/xmenu.js
data/Nss68_10_new format/brandings/default/media/style/datareaderbox.css
data/Nss68_10_new format/brandings/default/media/style/header.css
data/Nss68_10_new format/brandings/default/media/style/navigation.css
data/Nss68_10_new format/brandings/default/media/style/style.css
data/Nss68_10_new format/brandings/default/media/style/xmenu.css
data/Nss68_10_new format/README_FIRST.docx
data/Nss68_10_new format/software/nesstar/explorer_logo.gif
data/Nss68_10_new format/software/nesstar/ihsn-i18n.exe
data/Nss68_10_new format/software/nesstar/nesstar16.gif
data/Nss68_10_new format/software/nesstar/nesstar32.gif
data/Nss68_10_new format/software/nesstar/nesstar48.gif
data/Nss68_10_new format/software/nesstar/NesstarExplorerInstaller.exe
data/Nss68_10_new format/survey0/data/ddi.xml
data/Nss68_10_new format/survey0/data/document/Appendix-I_68.doc
data/Nss68_10_new format/survey0/data/document/Appendix-II_68.doc
data/Nss68_10_new format/survey0/data/document/District_code.txt
data/Nss68_10_new format/survey0/data/document/Estimation Procedure_68.doc
data/Nss68_10_new format/survey0/data/document/Instruction_to_field_staff.pdf
data/Nss68_10_new format/survey0/data/document/Intoduction Concepts, Definitions and Procedures.doc
data/Nss68_10_new format/survey0/data/document/nic_2008.pdf
data/Nss68_10_new format/survey0/data/document/Schedule_68_10.pdf
data/Nss68_10_new format/survey0/data/document/State code_68.doc
data/Nss68_10_new format/survey0/data/nsso68_schedule_10_emplyment_and_unemployment.Nesstar
data/Nss68_10_new format/survey0/data/report/KI-68th-E&U-PDF.pdf
data/official_india_2011_village_boundary_polygons-master/source.txt
data/official_india_2011_village_boundary_polygons-master/up/missing_name_UTTARPRADESH.cpg
data/official_india_2011_village_boundary_polygons-master/up/missing_name_UTTARPRADESH.dbf
data/official_india_2011_village_boundary_polygons-master/up/missing_name_UTTARPRADESH.prj
data/official_india_2011_village_boundary_polygons-master/up/missing_name_UTTARPRADESH.shp
data/official_india_2011_village_boundary_polygons-master/up/missing_name_UTTARPRADESH.shx
data/official_india_2011_village_boundary_polygons-master/up/villages_09.cpg
data/official_india_2011_village_boundary_polygons-master/up/villages_09.dbf
data/official_india_2011_village_boundary_polygons-master/up/villages_09.prj
data/official_india_2011_village_boundary_polygons-master/up/villages_09.shp
data/official_india_2011_village_boundary_polygons-master/up/villages_09.shx
data/pmgsy-geosadak-master.zip
useful_documents/WQTLabsGuidelines.pdf
useful_documents/winning_auction.PNG
useful_documents/UniformDrinkingWaterQualityMonitoringProtocol.pdf
useful_documents/semi_annual_twfe.PNG
useful_documents/secc2011.PNG
useful_documents/RSMguide.pdf
useful_documents/Report_No_15_of_2018_-_Performance_Audit_on_National_Rural_Drinking_Water_Programme_in_Ministry_of_Drinking_Water_and_Sanitation.pdf
useful_documents/log_price.PNG
useful_documents/LASI_DataRequestForm_0.pdf
useful_documents/LASI_DataRequestForm_0 - with signiture.pdf
useful_documents/GPHandbook_0.pdf
useful_documents/did_table_baseline.PNG
useful_documents/38856336_edf4.png
